
<ion-content [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <div padding>
    <ion-row>
      <ion-col>
        <img class="logo" src="assets/img/logo.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form [formGroup]="form" (submit)="doLogin()">
          <ion-list inset class="no-border">
            <ion-item>
              <ion-input type="email" formControlName="email"  placeholder="Email" name="email"></ion-input>
            </ion-item>
            <ion-item *ngIf="!form.controls.email.valid && (form.controls.email.dirty || submitAttempt)">
              <p class="error-message">Please enter a valid email.</p>
            </ion-item>
            <ion-item>
              <ion-input type="password" formControlName="password" placeholder="Password" name="password" (keydown)="passMessage(form.controls.password.value)"></ion-input>
            </ion-item>
            <ion-item *ngIf="form.controls.password.dirty ">
              <p class="error-message" [ngClass]="password_checker.error ? 'text-red' : 'text-green' ">{{password_checker.message}}</p>
            </ion-item>
          </ion-list>
          <button [disabled]="!form.valid || loading" ion-button  color="primary" full>Login</button>

        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <span class="new">Have an account?</span>
        <button ion-button  color="darkblue" (click)="goToSignup()">Create an account</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
