page-assesment {
  ion-slides {
    position: relative;
    top: -30%;
    left: 5%;
  }
  .submit_assesment {
    margin-top: 5%;
  }

  .compliments {
    margin-top:30%;
  }

  ion-row {
    flex: 1;
  }
  .button-container {
    align-self: flex-end;
    text-align: right;
  }
  i.username {
      font-style: normal;
      text-transform: capitalize;
  }
}
