<ion-header no-border>

  <ion-navbar color="navColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Whisper</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-slides #slides>
      <ion-slide *ngFor="let question of assesment;">
        <ion-grid>
          <ion-row>
            <ion-col col-10 class="welcome">
              <h4 class="title">{{question.question}}</h4>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-11 class="edited">
              <ion-item class="line-break" [hidden]="!editedInput">
                <ion-textarea type="text" rows="1" maxLength="500" #myInput (ionBlur)="getText($event)" (keyup)="getFocus($event)" placeholder="{{editedInputLabel}}">
                </ion-textarea>
                <button class="input_button" (click)="submitEditedAnswer()" ion-button color="logout" [hidden]="!showButton" clear item-right>Send</button>
              </ion-item>
            </ion-col>
          </ion-row>
          <div text-right *ngFor="let answer of question._answers;" class="aligner">
            <button [hidden]="editedInput" ion-button round small color="rounded_buttons" (click)="nextSlide(question._id, question.question, answer.name, answer.isEditedAnswer, answer.editedAnswerLabel, answer.eligible)"> {{answer.name}}</button>
          </div>
        </ion-grid>
      </ion-slide>

      <ion-slide class="end-slide" [hidden]="!isEnd">
        <ion-grid>
          <ion-row>
            <ion-col col-10 class="welcome">
              <h4 class="title compliments">Thanks for completing the assesment</h4>
              <ion-list>
                <ion-item>
                  <ion-textarea #value placeholder="Feel free to drop a message"></ion-textarea>
                </ion-item>
                <div text-center>
                  <button class="submit_assesment" ion-button round small color="rounded_buttons" (click)="submitAssesment(value)">Submit assesment</button>
                </div>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer align="center" no-border>
  <ion-grid>
    <ion-row *ngIf="hasPrev">
      <ion-col col-3> <img src="assets/img/swipe-left.png"/> </ion-col>
      <ion-col col-9> 
        <h4 class="slideLeft">Slide left to go back to previous question</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
