page-assesment {

  ion-slides {
    position: relative;
    top: -30%;
    left: 5%;
  }
  .submit_assesment {
    margin-top: 5%;
  }

  .compliments {
    margin-top:30%;
  }

  ion-row {
    flex: 1;
  }
  .button-container {
    align-self: flex-end;
    text-align: right;
  }
  i.username {
    font-style: normal;
    text-transform: capitalize;
  }
  .text-input[placeholder] {
    font-size: 12px;
  }
  .item-ios.item-block .item-inner,
  .item-md.item-block .item-inner {
    padding-right: inherit;
    border: 1px solid #c8c7cc;
    border-radius: 5px;
  }

  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner {
    box-shadow: none;
    border: 1.2px solid #c8c7cc;
  }

  .input_button span.button-inner{
    text-transform: capitalize;
  }

  .aligner {
    margin-right: 5%;
    button {
      margin-bottom: 20px !important;
    }
  }

  .card {
    background: #ebebeb;
    width: 85%;
    margin-left: 25px;
  }

  .slideLeft { 
    font-size: 1.3rem;
    margin-top: 35px;
    font-weight: bold;
  }
}
