<ion-header no-border>

  <ion-navbar color="navColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Whisper</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-10 class="welcome">
        <h4 class="title">{{message}}</h4>
      </ion-col>
    </ion-row>
    <div>
      <div text-center *ngFor="let contraceptive of related">
        <button color="rounded_buttons" ion-button round small (click)="goToRelatedContraceptive(contraceptive._id, contraceptive.name, contraceptive.appointment, contraceptive['related-contraceptives'])">{{contraceptive.name}}</button>
      </div>
    </div>
    <div text-center>
      <h5 *ngIf="!related" class="title no_related">No related contraceptive at the moment</h5>
    </div>
    <div text-center>
      <button color="ignore" ion-button round small (click)="goHome()">Go Home</button>
    </div>
  </ion-grid>
</ion-content>