page-user-profile {
 

  .bg {
    height: 155px;
    background-size: cover;
    filter: blur(0px);
    background-position: center center;
    background-color: #488aff;
}


.hero-subtitle {
    color: #fff;
}

.profile-name {
    margin-top: 30px !important;
    font-size: 23px;
    line-height: 20px;
}

}
