<ion-header no-border>

  <ion-navbar color="navColor">
    <ion-title>Your profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <button class="profile_button" (click)="goToBasicInfo()" clear ion-item padding>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <img src="assets/img/gravatar.jpg">
        </ion-col>
        <ion-col col-7>
          <h3>Basic Information</h3>
          <h4>{{user?.firstName}}</h4>
          <h4 *ngIf="!ageless">{{userAge}} {{userAge | i18nPlural: ageMapping}}</h4>
          <h4 *ngIf="ageless">{{ageInMonths}} {{ageInMonths | i18nPlural: monthMapping}}</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </button>
</ion-content>
