page-user-assesments {
  .assesment-grid {
    position: relative;
    top: 0;
  }

  h4.more_options {
    font-size: 1.3rem;
    padding: 10px;
  }
  
  h4.empty {
    font-size: 1.8rem;
  }

  div.no-assesment {
    position: relative;
    top: 180px;
  }

  ion-card.card {
    box-shadow: none;
    webkit-box-shadow: none;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
  }
  .card-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #000;
    padding: 0;
  }

  .clip {
    font-size: 2.3em;
  }

  .assesments_user_info {
    text-transform: capitalize;
    color: #757575 !important;
    font-size: 0.8em !important;
  }

  // timeline
  .timeline ul li{
    list-style-type: none;
    position: relative;
    width: 2px;
    padding-top: 115px;
    background: #dd1d5e;
    margin-top: -20px;
  }

  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: inherit;
  }

  ion-datetime {
    font-size: 1rem;
  }
}
