<ion-header>  
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Assessments history</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="getContraceptive()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="assessment">
          <ion-segment-button [value]="true" (click)="ionViewDidLoad()">
            Eligeble
          </ion-segment-button>
          <ion-segment-button [value]="false" (click)="ionViewDidLoad()">
            Not Eligeble
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
  </ion-header>


<ion-content>
  <div text-center *ngIf="userAssesments && userAssesments.length <= 0" class="no-assesment">
    <ion-icon name="clipboard" color="home" class="clip"></ion-icon>
    <h4 class="empty">No assessment found</h4>
    <button color="primary" ion-button  small (click)="getContraceptive()">Get a contraceptive</button>
  </div>
   <ion-grid class="assesment-grid">
    <ion-row *ngIf="userAssesments && userAssesments.length > 0">
      <ion-col col-2> <img src="assets/img/touch.png"/> </ion-col>
      <ion-col col-10> 
        <h4 class="more_options">Press and hold each assessment below to view more options</h4>
      </ion-col>
    </ion-row>
    <ion-card *ngFor="let assesment of userAssesments; let i = index" (press)="openOptions(assesment, i)">      
      <ion-item>
        <ion-icon name="clipboard" item-start large></ion-icon>
        <h2>{{assesment?.contraceptive?.name}}</h2>
        <p>{{assesment?.createdAt | date:'longDate'}} - {{ assesment?.createdAt | date:'shortTime' }}</p>
        <!-- <ion-icon name="timer" item-end medium color='primary'></ion-icon> -->
      </ion-item>

      <ion-item *ngIf="assesment?.appointment.isAppointment">
        <ion-icon name="calendar" item-left large ></ion-icon>
        <h2>Appointment Date</h2>
        <p>{{assesment?.appointment?.appointmentDate | date:'longDate'}} - {{ assesment?.appointment?.appointmentDate | date:'shortTime' }}</p>
      </ion-item>

      <ion-item>
        <ion-badge item-left [color]="statusColor(assesment?.responseStatus)">{{assesment?.responseStatus}}</ion-badge>
          <!-- <span item-left>{{ assesment?.orders }}</span> -->
        <button ion-button  item-end [color]="assesment?.success ? 'primary' : 'danger'"  (click)="reOrderORRetake(assesment)">{{assesment?.success? "Reorder":"Retake"}}
        </button>
      </ion-item>
    </ion-card>
  </ion-grid>
</ion-content>
