<ion-header no-border>  
    <ion-navbar color="navColor">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Recent Assesments</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
  <div text-center *ngIf="none_found" class="no-assesment">
    <img src="assets/img/error.png" *ngIf="none_found"/>
    <h4 class="empty" *ngIf="none_found">No assesment found</h4>
    <button color="rounded_buttons" ion-button round small (click)="getContraceptive()">Get a contraceptive</button>
  </div>
  <ion-grid class="assesment-grid">
    <ion-row>
      <ion-col col-3> <img src="assets/img/touch.png" *ngIf="loaded"/> </ion-col>
      <ion-col col-9> 
        <h4 class="more_options" *ngIf="loaded">Press and hold each assessment below to view more options</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1>
        <div class="timeline">
          <ul *ngFor="let assesment of userAssesments">
            <li></li>
          </ul>
        </div>
      </ion-col>
      <ion-col col-1></ion-col>
      <ion-col col-10>
        <ion-card *ngFor="let assesment of userAssesments; let i = index" (press)="openOptions(assesment, i)">
          <ion-card-content *ngIf="assesment?.user">
            <div text-left>
              <h3>{{assesment.createdAt | date:'longDate'}}</h3>
            </div>
            <div text-right>
              <h3>{{ assesment.createdAt | date:'shortTime' }}</h3>
            </div>
            <ion-grid>
              <ion-row>
                <ion-col col-9>
                  <ion-card-title>
                    {{assesment?.contraceptive?.name}}
                  </ion-card-title>
                  <p class="assesments_user_info">
                    {{user?.firstName}}, {{user?.gender}}
                  </p>
                </ion-col>
                <ion-col col-3>
                  <div text-right>
                    <ion-icon name="clipboard" color="home" class="clip"></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
