// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h3.title {
  font-size: 1.8rem;
}

h4.title {
  font-size: 1.5rem;
}

.loading-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.line-break {
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: normal;
}

.toolbar-background {
  background: none;
  border: none;
}

.menu-bg, .menu-button { background-color: #fafafa; }


.toolbar-title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
  text-align: center;
  position: relative;
  left: -10%;
}

.toolbar-md-navColor .toolbar-title-md {
  color: #000;
}

.alert-button {
  color: #e91e63 !important;
}

.alert-wrapper {
  border-radius: 2px;
  max-width: 280px;
  background-color: #FAFAFA;
  -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.1);
}

.side-menu.scroll-content {
  overflow-x: hidden;
  overflow-y: hidden;
}

.loading-md .loading-wrapper {
  border-radius: 2px;
  max-width: 280px;
  max-height: 90%;
  color: white;
  background: none;
  padding: 24px;
  box-shadow: none;
}

.logo {
  width: 30%;
  height: auto;
  max-width: 12em;
  margin: 0 auto;
  padding-bottom: 50px;
}

// login & signup
.login-button {
  width: 90%;
  // border-radius: 30px;
  font-size: 0.9em;
  // border: 1px solid #fff;
  background-color: #dd1d5e;
}

.login-button, .signup-button {
  box-shadow: none;
}

.signup-button {
  position: relative;
  top: 0;
}

.login_box { margin-top: 30%; }

span.new, span.signup {
  font-size: 1.3rem;
}

span.signup {
  color: #29B6F6;
}