
<ion-header no-border>

  <ion-navbar>
    <ion-title>assesment response</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-scroll scrollY="true" style="width: 100%; height: 100%;">
    <ion-grid>
      <ion-row *ngFor="let message of messageResponse">
        <ion-col col-10>
          <ion-card class="sender" *ngIf="!message.owner">
            <ion-card-content>
              <h3>{{message.message}} <i class="timeline"> {{message.time}}</i></h3>
            </ion-card-content>
          </ion-card>
          <ion-card class="receiver" *ngIf="message.owner">
            <ion-card-content>
              <h3>{{message.message}} <i class="timeline"> {{message.time}}</i></h3>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
    </ion-grid>
  </ion-scroll>

</ion-content>


<ion-footer no-border>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <form [formGroup]="form" (submit)="sendAssesmentResponse()">
          <ion-item>
            <ion-textarea class="message" #myInput formControlName="message" placeholder="Write a message" type="text" rows="2" maxLength="500" #myInput (keyup)="getFocus($event)">
            </ion-textarea>
            <button class="input_button" ion-button color="info_button" [hidden]="!showButton" clear item-right>Send</button>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>