
<ion-content [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <div padding>
    <ion-row>
      <ion-col>
        <img class="logo" src="assets/img/logo.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form [formGroup]="form" (submit)="doSignup()" class="signup">
          <ion-list inset class="no-border">
            <ion-item>
              <ion-input type="text" formControlName="firstName" placeholder="First name"></ion-input>
            </ion-item>
            <ion-item *ngIf="!form.controls.firstName.valid && (form.controls.firstName.dirty || submitAttempt)">
              <p class="error-message">Please enter a valid first name.</p>
            </ion-item>
            <ion-item>
              <ion-input type="text" formControlName="lastName" placeholder="Last Name"></ion-input>
            </ion-item>
            <ion-item *ngIf="!form.controls.lastName.valid && (form.controls.lastName.dirty || submitAttempt)">
              <p class="error-message">Please enter a valid last name.</p>
            </ion-item>
            <ion-item>
              <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item *ngIf="!form.controls.email.valid && (form.controls.email.dirty || submitAttempt)">
              <p class="error-message">Please enter a valid email.</p>
            </ion-item>
            <ion-item>
              <ion-input type="password" formControlName="password" placeholder="Password" (keydown)="passMessage(form.controls.password.value)"></ion-input>
            </ion-item>
            <ion-item *ngIf="form.controls.password.dirty ">
              <p class="error-message" [ngClass]="password_checker.error ? 'text-red' : 'text-green' ">{{password_checker.message}}</p>
            </ion-item>
          </ion-list>
          <button [disabled]="!form.valid || loading" ion-button outline round color="rounded_buttons" 
            class="login-button">Create an account
          </button>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="have-account">
          <span class="new">Have an account?</span>
          <button ion-button color="signup_button" round (click)="goToLogin()">Login</button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

