page-contraceptive {
  ion-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  .scroll-content {
    background-image: radial-gradient(center center, ellipse cover, #ffeda3, #ffc800);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  ion-row {
    flex: 1;
  }
  .button-container {
    align-self: flex-end;
    text-align: right;
  }

  .button-md {
    white-space: normal;
    width: 100%;
    height: 6.6rem;
  }

}
